<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.yzl.customer.dao.CityTMapper">
  <resultMap id="BaseResultMap" type="cn.net.yzl.customer.model.CityT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pvc_id" jdbcType="INTEGER" property="pvcId" />
    <result column="pvc_capital" jdbcType="SMALLINT" property="pvcCapital" />
    <result column="phone_prefix_code" jdbcType="SMALLINT" property="phonePrefixCode" />
    <result column="phone_length" jdbcType="SMALLINT" property="phoneLength" />
    <result column="en_abbr" jdbcType="VARCHAR" property="enAbbr" />
    <result column="zip" jdbcType="VARCHAR" property="zip" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pvc_id, pvc_capital, phone_prefix_code, phone_length, en_abbr, zip, create_time, 
    update_time
  </sql>
  <sql id="querySql">
    <where>
      <if test="params!=null and params.id != null and params.id != ''">
        and t.id = #{params.id}
      </if>
    </where>
  </sql>


  <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from city_t
    <include refid="querySql"/>
  </select>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from city_t
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.net.yzl.customer.model.CityT">
    insert into city_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pvcId != null">
        pvc_id,
      </if>
      <if test="pvcCapital != null">
        pvc_capital,
      </if>
      <if test="phonePrefixCode != null">
        phone_prefix_code,
      </if>
      <if test="phoneLength != null">
        phone_length,
      </if>
      <if test="enAbbr != null">
        en_abbr,
      </if>
      <if test="zip != null">
        zip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pvcId != null">
        #{pvcId,jdbcType=INTEGER},
      </if>
      <if test="pvcCapital != null">
        #{pvcCapital,jdbcType=SMALLINT},
      </if>
      <if test="phonePrefixCode != null">
        #{phonePrefixCode,jdbcType=SMALLINT},
      </if>
      <if test="phoneLength != null">
        #{phoneLength,jdbcType=SMALLINT},
      </if>
      <if test="enAbbr != null">
        #{enAbbr,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.net.yzl.customer.model.CityT">
    update city_t
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pvcId != null">
        pvc_id = #{pvcId,jdbcType=INTEGER},
      </if>
      <if test="pvcCapital != null">
        pvc_capital = #{pvcCapital,jdbcType=SMALLINT},
      </if>
      <if test="phonePrefixCode != null">
        phone_prefix_code = #{phonePrefixCode,jdbcType=SMALLINT},
      </if>
      <if test="phoneLength != null">
        phone_length = #{phoneLength,jdbcType=SMALLINT},
      </if>
      <if test="enAbbr != null">
        en_abbr = #{enAbbr,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>