<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.customer.dao.ExpressWaybillMapper" >
  <resultMap id="BaseResultMap" type="cn.net.yzl.customer.model.ExpressWaybill" >

    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="mail_id" property="mailId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="express_company_id" property="expressCompanyId" jdbcType="VARCHAR" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="receiving_time" property="receivingTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_code" property="createCode" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_code" property="updateCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mail_id, order_id, express_company_id, delivery_time, receiving_time, create_time,
    create_code, update_time, update_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from express_waybill
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from express_waybill
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.yzl.customer.model.ExpressWaybill" >
    insert into express_waybill (r_id, id, mail_id, 
      order_id, express_company_id, delivery_time, 
      receiving_time, create_time, create_code, 
      update_time, update_code)
    values (#{rId,jdbcType=INTEGER}, #{id,jdbcType=VARCHAR}, #{mailId,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{expressCompanyId,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=TIMESTAMP}, 
      #{receivingTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createCode,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.yzl.customer.model.ExpressWaybill" >
    insert into express_waybill
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="id != null" >
        id,
      </if>
      <if test="mailId != null" >
        mail_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="expressCompanyId != null" >
        express_company_id,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="receivingTime != null" >
        receiving_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createCode != null" >
        create_code,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateCode != null" >
        update_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mailId != null" >
        #{mailId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="expressCompanyId != null" >
        #{expressCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receivingTime != null" >
        #{receivingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createCode != null" >
        #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCode != null" >
        #{updateCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.customer.model.ExpressWaybill" >
    update express_waybill
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="mailId != null" >
        mail_id = #{mailId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="expressCompanyId != null" >
        express_company_id = #{expressCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receivingTime != null" >
        receiving_time = #{receivingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createCode != null" >
        create_code = #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCode != null" >
        update_code = #{updateCode,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.yzl.customer.model.ExpressWaybill" >
    update express_waybill
    set
      mail_id = #{mailId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      express_company_id = #{expressCompanyId,jdbcType=VARCHAR},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      receiving_time = #{receivingTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_code = #{createCode,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_code = #{updateCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>